.m-t-10{margin-top:10px;}
.m-t-20{margin-top:20px;}
.m-t-30{margin-top:30px;}
.m-t-40{margin-top:40px;}
.m-t-50{margin-top:50px;}
.m-t-60{margin-top:60px;}
.m-t-70{margin-top:70px;}
.m-t-80{margin-top:80px;}
.m-t-90{margin-top:90px;}
.m-t-100{margin-top:100px;}

.m-b-10{margin-bottom:10px;}
.m-b-20{margin-bottom:20px;}
.m-b-30{margin-bottom:30px;}
.m-b-40{margin-bottom:40px;}
.m-b-50{margin-bottom:50px;}
.m-b-60{margin-bottom:60px;}
.m-b-70{margin-bottom:70px;}
.m-b-80{margin-bottom:80px;}
.m-b-90{margin-bottom:90px;}
.m-b-100{margin-bottom:100px;}